/#Create Linked List.py
/.vscode
/100Days_Day1.py
/25082021115112.pdf
/3x3_user_input_matrix.py
/3xY_matrix.py
/Acta Nacimiento Juani.docx
/Appearance of substring in a string.py
/Boleto Veracruz.pdf
/BoletoVeracruzPagado.pdf
/Chinese
/CircleArea.py
/cs-cheat-sheet.pdf
/CursoCGatito1.cs
/Custom Office Templates
/CV
/Data Science
/DataStructures1.py
/Day1.2.py
/Day1.3.py
/desktop.ini
/Deutsch
/divisible by 5.py
/Doctos. Juana Zavaleta Cobian.zip
/Doctos. JZC
/Documentos Epicor
/dteshenanigans.py
/English School
/Excel
/favorite_city.py
/FIEL_PUGM941129IY6_20191106111849
/First and last number of a list.py
/ForumKommentar.docx
/Games
/gastos.xlsx
/Grammaire
/GuessingGame.py
/Hangeul
/Hogar
/IFEBack.jpeg
/IFEFront.jpeg
/Iteration of 10.py
/List Odd and Even.py
/Misceláneo
/Nested Loops Ex.py
/Nihongo
/one piece.docx
/palindrome_number.py
/Patternprint.py
/Personal Management
/Print even characters.py
/pythonexercises.zip
/Remove first characters from a string.py
/Requisito A en ingles. Etica.docx
/RomanToInteger.py
/schritte-international-neu-6-b12_compress.pdf
/Square_every_element_in_a_matrix.py
/strings_in_single_line.py
/sum elements of matrix sep list.py
/TecMilenio
/Visual Studio 2022
/Zoom
/__pycache__